.backTop {
  /* color: rgb(196, 193, 193);
  border-style: solid; */
  /* border-width: 2px; */
  /* background: white; */
  position: fixed;
  bottom: 0px;
  left: 0px;
  /* width: 80px;
  height: 100px; */
  cursor: pointer;
  background-color: Transparent;
  border: none;
}

.backTop:hover .icon i {
  /* color: rgb(13, 95, 133); */
  opacity: 1;
}
.backTop:hover .icon p {
  /* color: rgb(13, 95, 133); */
  opacity: 1;
}

.icon i {
  opacity: 0.3 !important;
  color: rgb(0, 174, 255) !important;
  display: block !important;
  margin-left: 5px !important;
  margin-top: 20px !important;
  font-size: 30px !important;
}

.icon p {
  font-size: 1rem !important;
  opacity: 0.3 !important;
  color: rgb(0, 174, 255) !important;
  text-align: center !important;
  margin: 5px !important;
}
