.nav_container {
  height: auto;
  margin-top: 30px;
  width: auto;
}

/* up */
.logo_coming_soon,
.logo_front {
  margin-top: 20px;
  margin-bottom: 20px;
}
.logo_front img {
  width: 187px;
  height: auto;
  /* float: left; */
  /* margin-left: 20px; */
}
.logo_coming_soon img {
  width: 100px;
  height: 100px;
  /* float: right; */
  /* margin-right: 20px; */
}

.button_admin a img {
  margin-left: 10px;
  width: 33px;
  height: 33px;
  background: grey;
}

.button_style:hover {
  background: grey;
  color: white;
}
.initial_active {
  background: grey;
  color: white !important;
}
.button_style {
  color: black;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

/* down */

/* left */

.left_border {
  border-left: 2px solid black;
}

/* right */
.userBtn {
  clear: both !important;
  display: inline-block !important;
  white-space: nowrap !important;
  text-align: center !important;
}

.dropdown:hover > .dropdown-menu {
  display: block !important;
  margin-top: 0;
}
.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

/* right */
.user_profile_btn {
  margin-top: -15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  box-shadow: 2px 2px 2px 2px grey;
  border: 5px solid white;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 990px) {
  .dropdown-menu {
    transform: translate3d(-150px, 61px, 0px) !important;
  }
}
@media screen and (max-width: 989px) and (min-width: 830px) {
  .dropdown-menu {
    transform: translate3d(35vw, 61px, 0px) !important;
  }
}
@media screen and (max-width: 829px) and (min-width: 400px) {
  .dropdown-menu {
    transform: translate3d(30vw, 61px, 0px) !important;
  }
}
@media screen and (max-width: 399px) {
  .dropdown-menu {
    transform: translate3d(10vw, 61px, 0px) !important;
  }
}
