#contact_window {
  border: 5px solid black;
  color: black;
}
.modal_header h5 {
  margin-left: auto;
}

.button {
  background: black;
  color: white;
  border-radius: 20px;
  padding: 8px 200px;
  width: 90%;
  position: relative;
}
