<div>
  <h2 class="text-center">Hi {{userEmail}}</h2>
  <div class="text-center">
  <p>
    You are asked to confirm your email address
  </p>

  <a href="{{ 'http://127.0.0.1:3000/Email_Confirmation/' +token+ '/' +id }}">Please click this link to confirm your email :)</a>
  <br />
  <p> If you already activate your account, please ignore this email.</p>
  <p>Thank you!</p>
  </div>
</div>
