<div>
<h2 class="text-center">Hi {{user.Firstname}} {{user.Lastname}}</h2>
<div class="text-center">
<p>
  You have asked to reset your password.
</p>

<a href="{{ 'http://127.0.0.1:3000/forgotPasswordToken/'+ user.id + '/' + token  }}">Please click this link to enter a new password</a>
<br />
<p> If you didn't request a password change, please ignore this email.</p>
<p>Thank you!</p>
</div>
</div>