.booktrip-navbar .circle .label:hover {
  background-color: rgba(237, 69, 69, 1);
}
/* Form Progress */
.booktrip-navbar {
  margin: 50px auto;
  text-align: center;
  padding-bottom: 20px;
  white-space: nowrap;
}

/* For above ipad screen */

.booktrip-navbar .circle,
.booktrip-navbar .bar {
  display: inline-block;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 1px solid #d5d5da;
  vertical-align: top;
}
.booktrip-navbar .bar {
  position: relative;
  width: 80px;
  height: 6px;
  margin: 0 -1px 17px -1px;
  border-left: none;
  border-right: none;
  border-radius: 0;
  top: 30px;
  vertical-align: top;
}
.booktrip-navbar .circle .label {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  margin-top: 3.5px;
  color: #b5b5ba;
  font-size: 25px;
  cursor: pointer;
  background-color: rgba(254, 97, 97, 1);
  -webkit-transition: background-color 2s; /* Safari */
  transition: background-color 0.4s ease 0s;
}
.booktrip-navbar .circle .title {
  color: #b5b5ba;
  font-size: 19px;
  line-height: 18px;
  margin-left: -20px;
  display: block;
  width: 100px;
  margin-top: 20px;
  white-space: nowrap;
}

/* Done / Active */

.booktrip-navbar .bar.done,
.booktrip-navbar .circle.done {
  background: #eee;
}
.booktrip-navbar .bar.active {
  background: linear-gradient(to right, #eee 40%, #fff 60%);
}
.booktrip-navbar .circle.done .label {
  color: #fff;
  background: #8bc435;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}
.booktrip-navbar .circle.done .title {
  color: #444;
}
.booktrip-navbar .circle.active .label {
  color: #fff;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}
.booktrip-navbar .circle.active .title {
  color: #0c95be;
}
